*.js
!AssortedBugfixes.js
!CommonEvenOnDefeat.js
!CommonEventOnLevelUpAndPartyChange.js
!CompactSkillDescription.js
!StatusEffectDescriptionOnSkillSelect.js
!StatusEffectWeaknessDisplay.js
!UtilityFunctions.js
