*.js
!AssortedBugfixes.js
!CommonEvenOnDefeat.js
!CommonEventOnLevelUpAndPartyChange.js
!CompactSkillDescription.js
!CurrencyDuctTape.js
!FinisherWeaknessPopup.js
!InstantBattles.js
!QuestSelectionScreen.js
!SkillAntiCosts.js
!StateIconRework.js
!StatusEffectDescriptionOnSkillSelect.js
!StatusEffectWeaknessDisplay.js
!WaitSkills.js
