//=============================================================================
// QuestSelectionScreen_Data.js
//=============================================================================
/*:
 * @target MZ
 * @plugindesc Data for the QuestSelectionScreen plugin
 * @author You
 *
 * @help
 * To be edited directly as deemed appropriate
 */

/*
 * Syntax:
 * - commonEventId: Mandatory. Id of the common event to launch if the mission
 *   is selected.
 * - name: Mandatory. Name under which the mission will be shown in the list.
 * - description: Mandatory. Speech describing the mission.
 * - availableIf: Mandatory. Function to be executed to check if the player can
 *   see the mission. Often amounts to "has mission is available switch but not
 *   mission is completed switch". See examples below.
 * - lockedIf: Optional. A function that, if provided, will be run to check if
 *   the mission should be disabled despite showing in the list. Typically used
 *   for missions whose player knows the existence of but doesn't match the
 *   conditions to begin.
 * - lockedMessage: Optional. Message explaining why the mission is locked (see
 *   previous option)
 */
const Omnipocalypse_QuestsData = (() => {
  const doneWithAlice = () => {
    // Chased off Alice OFF or Finished Alice OFF
    return $gameSwitches.value(264) || $gameSwitches.value(269);
  };

  return [
    {
      commonEventId: 15,
      name: "Robot horde in the parking lot",
      description: "The robot enemies are proliferating in a nearby parking lot and could become a threat.",
      availableIf: () => {
        // Second Wave Missions ON and Susie Boss OFF
        return $gameSwitches.value(243) && !$gameSwitches.value(200);
      },
    },
    {
      commonEventId: 16,
      name: "Retake the radio tower",
      description: "We need to retake the radio tower, if we can find a pair of teams to clear the way.",
      availableIf: () => {
        return !$gameSwitches.value(380); // Radio Tower Done OFF
      },
      lockedIf: () => {
        // Less than four people in party, MC included
        return $gameParty.size() < 4;
      },
      lockedMessage: "I have to reject this plan. There's no way you can make it with so few people.",
    },
    {
      commonEventId: 17,
      name: "Retake the bridge",
      description: "You think you're ready to retake the bridge? Retreat might be difficult once we attract attention.",
      availableIf: () => {
        return !$gameSwitches.value(400); // Bridge Done OFF
      },
      lockedIf: () => {
        return $gameSwitches.value(386); // Bridge Failed ON
      },
      lockedMessage: "Unfortunately, the bridge is now swarmed with so many hostiles that further work is impossible.",
    },
    {
      commonEventId: 18,
      name: "Investigate strange zombies",
      description: "We'd welcome anyone who can go out and investigate these strange new zombies.",
      availableIf: () => {
        // Second Wave Missions ON and Have met Alice OFF and not done with Alice (cf doneWithAlice function definition above)
        return $gameSwitches.value(243) && !$gameSwitches.value(279) && !doneWithAlice();
      },
    },
    {
      commonEventId: 18,
      name: "Find Alice",
      description:
        "Anderson hasn't officially given the mission yet, but there's nothing stopping us from going to find Alice.",
      availableIf: () => {
        // Have met Alice ON and not done with Alice
        return $gameSwitches.value(279) && !doneWithAlice();
      },
    },

    {
      name: "Always available",
      availableIf: () => {
        return true;
      },
    },
    {
      name: "Always available but also always locked",
      availableIf: () => {
        return true;
      },
      lockedIf: () => {
        return true;
      },
    },
  ];
})();
